<input
  #cellInput
  [cellProperties]="properties()"
  [class.selected]="isSelected()"
  [class.mentioned]="isMentioned()"
  [contextMenu]="contextMenu"
  [ngModel]="content()"
  (ngModelChange)="setFormula($event)"
  (focus)="markAsSelected()"
  (keydown.enter)="apply()"
  (keydown.arrowup)="navigate('up')"
  (keydown.arrowdown)="navigate('down')"
  (keydown.arrowleft)="navigate('left')"
  (keydown.arrowright)="navigate('right')"
/>

<ng-template #contextMenu>
  <app-cell-context-menu [address]="address()" />
</ng-template>
