input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;

  &.selected {
    background-color: aliceblue;
    border: 1px solid blue;
  }

  &.mentioned {
    background-color: green !important;
    border: 1px solid yellowgreen !important;
    color: white !important;
  }

  &:focus {
    outline: none;
  }
}