<h1>Signal Spreadsheet</h1>
<section class="toolbox">
  <app-top-bar />
  <section class="sub-toolbox">
    <app-history />
    <app-cell-properties />
  </section>
</section>
<table>
  <thead>
    <tr>
      <th></th>
      @for(column of columns(); track column) {
        <th [class.selected]="selectedColumn() === column">{{ column }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for(row of rows(); track row) {
      <tr>
        <td [class.selected]="selectedRow() === row">{{ row }}</td>
        @for(column of columns(); track column) {
          <td>
            <app-cell [address]="column + row" />
          </td>
        }
      </tr>
    }
  </tbody>
</table>